:root {
    //========== Colors ==========//
    --first-color: #0000ff;
    --first-color-alt: #1b018f;
    --first-color-send: #252020;

    --title-color: #FFF;
    --title-color-alt: #FFF;
    
    --description-color: #6b6b6b;
    
    --description-color-alt: #9b9b9b;
    
    --text-color: #FFF;
    --text-color-light: #9b9b9b;

    --body-color: #111;

    --switch-button: yellow;
    //========== Typography ==========//
    --body-font: 'Roboto', sans-serif;
    //========== Font ==========//
    --h2-font-size: 1.5em;
    --h3-font-size: 1.125em;
    --small-font-size: .8em;
    --normal-font-size: 1em;
    --big-font-size: 2rem;
    //========== Font weight ==========//
    --font-semi-bold: 600;
    --font-bold: 700;
    //========== Margins ==========//
    --mb-1: .5em;
    --mb-2: 1em;
    --mb-3: 1.5em;
    --mb-4: 2em;
    --mb-5: 2.5em;
    --mb-6: 3em;
    //========== Transition ==========//
    --transition-slow: 1000ms ease all;
    --transition-normal: 300ms ease all;
    //========== z index ==========//
    --z-sticky: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

//========== GENERAL STYLES ==========//

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: 11px;
    background: var(--body-color);
    color: var(--text-color);
}

body.theme {
    --first-color-send: #fff;
    --title-color: #000;
    --description-color: #535252;
    --description-color-alt: #c1c1c1;
    --body-color: #FFF;
    --switch-button: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: none;
}

body::-webkit-scrollbar-thumb {
    background: var(--first-color);
    border-radius: 4px;
}

//========== CLASS CSS ==========//

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.container-medium {
    max-width: 800px;
    width: 90%;
    margin: auto;
}

.container-small {
    max-width: 500px;
    width: 90%;
    margin: auto;
}

.grid {
    display: grid;
    gap: var(--mb-2);
}

.section {
    padding: 5rem 0 2rem 0;
    text-align: center;
}

.section-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
    text-align: center;
}

.section-title--alt {
    color: var(--title-color-alt);
}

.title {
    font-size: var(--normal-font-size);
    margin: var(--mb-2) 0;
    color: var(--title-color);
}

.title--alt {
    color: var(--title-color-alt);
}

.description {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-3);
    color: var(--description-color);
}

.description--alt {
    color: var(--description-color-alt);
}

.icon {
    color: var(--text-color);
    margin-right: var(--mb-1);
}

.icon--alt {
    color: var(--first-color);
    font-size: 1.4em;
    margin-bottom: 5px;
}

.button {
    background: var(--first-color);
    color: var(--text-color);
    border: none;
    padding: .7em 1.2em;
    border-radius: 0 20px 0 20px;
    outline: none;
    font-weight: var(--font-bold);
    cursor: pointer;
    transition: var(--transition-normal);
    box-shadow: 0 2px 10px 1px #111;

    &:hover {
        border-radius: 20px 0 20px 0;
    }
}
